.intro
  %h1 Our Staff
  %div Moving Labor will save you money on your next move!

.clearfix
  .left{ :style => 'padding-top: 1em; padding-bottom: 1em; margin-right: 0.5em;' }
    = image_tag('staff/staff1.jpg', :alt => 'Bobby')
    %br/
    = image_tag('staff/staff2.jpg', :alt => 'Jeff')
    %br/
    = image_tag('staff/staff3.jpg', :alt => 'Jeff and Bobby as kids')
  .right{ :style => 'width: 460px;' }
    %p{ :style => 'margin-bottom: 0.5em;' }
      %strong Owners:
    .owner
      %div Bobby Merrill
      %div 603-438-4783
      %div= mail_to('easydaysdotbiz@gmail.com')
    .owner
      %div Jeff Paquin
      %div 603-233-4179
      %div= mail_to('jiffer2187@aol.com')

    %p Our staff are highly trained movers. We have goals and expectations related to your moving experience.  We understand how stressful moving can be.  Our first responsibility is always to create a light-hearted atmosphere and make your day an Easy Day.

    %p We review every obstacle we experience.  Our team is constantly making imporvements to maximize our effectiveness and minimize costs.  Customer satisfaction is our number one goal.

    %p Communication is very important to us.  We always call ahead at the time of the order, and also the evening before the move.  We will become phone buddies!  Call in today my friend!
